





    <footer>
        <div><a href="#">Shop Product</a></div>
        <div><a href="#">Healthy Tips</a></div>
        <div><a href="#">Contact Us</a></div>
        <div><a href="#">Return Policy</a></div>
        <div id="footer_social"><a href="#" class="fab fa-facebook-f"></a><a href="#" class="fab fa-instagram"></a></div>
        <div><a href="#">(c) Healthy To Bee. All rights Reserved.</a></div>
    </footer>



</body>
</html>

<script>

    $('#menu_toggler').click(function () {
        $('body').toggleClass('menu_opened');
    });

    $('#mobile_menu_close').click(function () {
        $('body').toggleClass('menu_opened');
    });

</script>