{% load static%}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="card-title default_yellow price">${{real_price}}</h1>
        </div>


        <div class="col">

            <div class="row">
                <h7>{{o}}</h7>
            </div>
            <div class="row">
                <h5>{{high_price}}</h5>
            </div>


        </div>
        <div class="col">
            <div class="row">
                <h7>{{y}}</h7>
            </div>
            <div class="row">



                <h5>{{save_money}}</h5>


            </div>

        </div>
    </div>
</div>