{% extends 'base.html' %}

{% load static %}

{% block content %}

<section id="section_individualProduct">
    <div class="wrapper">
        <div class="containerX">
            <div class="default_brown breadcrumbs">-</div>

            <div class="row individualProduct">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div id="individualProduct_left">
                        <img align="center" src="{% static 'img/hon1.jpg' %}" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div id="individualProduct_right" class="blog">
                        <div class="container">

                            <div class="card">

                                <div class="card-body">
                                    <h4 class="card-title default_brown ">Product Name</h4>
                                    <h5 class="card-title default_yellow price">$39.99</h5>
                                    <p class="card-text">
                                        Short product description Short product description Short product description
                                        Short product description Short product description Short product description
                                        Short product description
                                        Short product description Short product description Short product description
                                        Short product description Short product description Short product description
                                        Short product description
                                        Short product description Short product description Short product description
                                        Short product description Short product description Short product description
                                        Short product description
                                        Short product description Short product description Short product description
                                        Short product description Short product description Short product description
                                        Short product description
                                        Short product description Short product description Short product description

                                    </p>
                                    <p>
                                    <div class="pluser">
                                        <div class="left">-</div>
                                        <div class="middle">1</div>
                                        <div class="left">+</div>
                                    </div>
                                    </p>
                                </div>
                                <div class="card-footer none_border ">
                                    <a href="/" class="link_button main_product_card_button default_yellow_bg">ADD TO
                                        CART</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="individualProductList default_grey_bg">

            <div class="containerX">

                <div class="row">
                    <h3 class="default_brown paddin-left-1">You Might Also Like ...</h3>
                </div>

                <div class="row">

                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="card default_grey_bg none_border">
                            <div class="card-img">
                                <img align="center" src="{% static 'img/hon1.jpg' %}" class="img-fluid">
                            </div>

                            <div class="card-body">
                                <h2 class="card-title default_brown ">Product Name</h2>
                                <p class="card-text">
                                    Short product descriptionShort product descriptionShort product descriptionShort product descriptionShort product
                                </p>
<!--                                <p class="card-text">-->
<!--                                    Short product description...-->
<!--                                </p>-->
                                <h2 class="card-title default_yellow price">$39.99</h2>
                            </div>
                            <div class="card-footer none_border default_grey_bg">
                                <a href="/" class="link_button  default_yellow_bg">view product</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 ">
                        <div class="card default_grey_bg none_border">
                            <div class="card-img">
                                <img align="center" src="{% static 'img/hon1.jpg' %}" class="img-fluid">
                            </div>

                            <div class="card-body">
                                <h2 class="card-title default_brown ">Product Name</h2>
                                <p class="card-text">
                                    Short product description
                                </p>
                                <p class="card-text">
                                    Short product description...
                                </p>
                                <h2 class="card-title default_yellow price">$39.99</h2>
                            </div>
                            <div class="card-footer none_border default_grey_bg">
                                <a href="/" class="link_button  default_yellow_bg">view product</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 col-sm-12 ">
                        <div class="card default_grey_bg none_border">
                            <div class="card-img">
                                <img align="center" src="{% static 'img/hon1.jpg' %}" class="img-fluid">
                            </div>

                            <div class="card-body">
                                <h2 class="card-title default_brown ">Product Name</h2>
                                <p class="card-text">
                                    Short product description
                                </p>
                                <p class="card-text">
                                    Short product description...
                                </p>
                                <h2 class="card-title default_yellow price">$39.99</h2>
                            </div>
                            <div class="card-footer none_border default_grey_bg">
                                <a href="/" class="link_button  default_yellow_bg">view product</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>

{% endblock %}