{% extends 'base.html' %}

{% load prices %}
{% load static %}



{% block content %}

<title>{% block title %} {{title}} :: {{block.super}}{% endblock %}</title>

<section id="section_product">
    <div class="wrapper">
        <!-- Posts section -->
        <div class="container">
            <div class="blog">
                <h2 id="yellow_page_name" class="page_title default_yellow_bg default_brown">100% Pure Raw Honey</h2>
                <div class="row">


                    <!--                    карточка-->

                    {% for product in products %}

                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="card">
                            <div class="card-img">

                                {% if product.photo %}
                                <img align="center" src="{{ product.photo.url }}" class="img-fluid">
                                {% else %}

                                {% endif %}


                            </div>

                            <div class="card-body">
                                <h4 class="card-title default_brown ">{{product.title}}</h4>
                                <p class="card-text">
                                    {{product.short_description}}
                                </p>

<!--                                загрузка цен-->
                                {% show_prices  product.real_price product.high_price %}


                            </div>
                            <div class="card-footer">
                                <a href="{{ product.get_absolute_url }}" class="link_button main_product_card_button default_yellow_bg">view
                                    product</a>
                            </div>
                        </div>
                    </div>


                    {% endfor %}


                    <!--                    конец карточек-->


                </div>
            </div>
        </div>
        <div class="row">
            <nav class="paging">
                <ul class="pagination pg-blue justify-content-center">
                    <li class="page-item "><a class="page-link"><</a></li>
                    <li class="page-item"><a class="page-link">1</a></li>
                    <li class="page-item"><a class="page-link">2</a></li>
                    <li class="page-item"><a class="page-link">3</a></li>
                    <li class="page-item"><a class="page-link">4</a></li>
                    <li class="page-item"><a class="page-link">5</a></li>
                    <li class="page-item"><a class="page-link">6</a></li>
                    <li class="page-item">
                        <a class="page-link">></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

</div>

{% endblock %}



